* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.section-m1 {
    margin: 40px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.normal {
    font-size: 16px;
    padding: 10px 10px;
    background-color: #618264;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.2s;
    text-decoration: none;
}

.normal:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


/* ------------------Header------------------ */
header {
    padding: 5px 50px;
    background: #618264;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    min-width: 50%;
}

#navbar .active {
    font-weight: 700;
}

.logo {
    width: 4.5vw;
}

header h1 {
    color: #D0E7D2;
    font-size: 2vw;
    font-variant: small-caps;
    flex-shrink: 1;
    /* Allow the title to shrink */

}

/* Navbar buttons */
#navbar li a {
    color: #D0E7D2;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: transform 0.5s, opacity 0.5s;
}

#navbar li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    /* Adjust padding to allow closer spacing */
    margin: 5px;
    /* Reduce margin */
    font-size: 18px;
    /* Slightly smaller font size */
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    flex-shrink: 1;
    /* Allow items to shrink as necessary */
}

#navbar li:hover a {
    transform: translateY(-0.25em);

}

.sign_in,
.sign_out {
    font-size: 16px;
}

#cart {
    position: relative;
}

#cart-count {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}


#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* ------------------LOGIN/REGISTER------------------ */

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Input field styling */
.form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    text-align: center;
    margin-bottom: 10px;
}



/* Error and success message styling */
.error-message {
    color: #f44336;
    /* Red color for errors */
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.success-message {
    color: #4caf50;
    /* Green color for success */
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

/* Link styling */
.form-container a {
    color: #618264;
    /* Blue color */
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

/* ------------------HOMEPAGE------------------ */

.home-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-txt {
    flex: 1;
    text-align: center;
    margin: auto 20px;
    /* CHANGE MARGIN?  */
}

.home-txt h1 {
    color: #000000;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

.home-txt p {
    font-size: 24px;
    padding-bottom: 30px;
}

.home-txt a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    margin: 20px auto;
    min-width: 150px;
    max-width: 200px;
    transition: transform 0.5s, opacity 0.5s;
}

.home-txt a:hover {
    transform: translateY(-0.25em);
}

/* Slideshow */
.home-img {
    flex: 1.25;
    background-image: url("images/background.jpg");
    background-size: cover;
    padding: 80px 100px;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.img-opacity .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(208, 231, 210, 0.5);
    z-index: 1;
}

.swiper-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-txt h4 {
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.swiper-txt p {
    font-size: 22px;
    padding-bottom: 20px;
    text-align: center;
}

.swiper-txt,
.swiper-wrapper-container {
    position: relative;
    z-index: 2;
}

.swiper-wrapper-container {
    width: 100%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 60vh;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #618264;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 20px;
}

.swiper .swiper-button-prev {
    left: 10px;
}

.swiper .swiper-button-next {
    right: 10px;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.swiper .swiper-pagination-bullet-active {
    background: #618264;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide p {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #777;
    font-weight: bold;
    font-size: 30px;
}

/* ------------------PRODUCT DISPLAYS------------------ */
#product1 {
    text-align: center;
    background-color: #ffffff;
}

#product1 .pro-container-home {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#product1 .pro-container-home::-webkit-scrollbar {
    height: 8px;
}

#product1 .pro-container-home::-webkit-scrollbar-track {
    background: transparent;
}

#product1 .pro-container-home::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#product1 .pro-container-home::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#product1 h2 {
    color: #000000;
    font-size: 40px;
    font-variant: small-caps;
}

#product1 .pro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    justify-content: flex-start;
    /* Align all rows to the left */
}

#product1 .pro {
    max-width: 250px;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5px 5px;
    transition: 0.2s ease;
    position: relative;
    height: 350px;
    flex-grow: 0;
    /* Prevents products from stretching unevenly */
    flex-basis: calc(25% - 10px);
    /* Adjust this percentage to the number of products per row */
}


@media (max-width: 1200px) {
    #product1 .pro {
        flex-basis: calc(33.33% - 10px);
        /* 3 items per row on medium screens */
    }
}

@media (max-width: 768px) {
    #product1 .pro {
        flex-basis: calc(50% - 10px);
        /* 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    #product1 .pro {
        flex-basis: calc(100% - 10px);
        /* 1 item per row on very small screens */
    }
}


#product1 .pro:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#product1 .pro img {
    width: 100%;
    border-radius: 5px;
    width: 90%;
    max-height: 200px;
    height: 70%;
    object-fit: cover;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px;
}

#product1 .pro .description .prod-name {
    padding-top: 7px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

#product1 .pro .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .description .disc_price {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
}

#product1 .pro .description .disc_price s {
    color: red;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
}

#product1 .pro .cart:hover {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#product1 .pro .cart.clicked {
    color: #618264;
    transform: scale(1.2);
}

#product1 .pro .cart.clicked i {
    animation: cart-bounce 0.5s ease;
}

@keyframes cart-bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.star {
    display: flex;
}

.star i {
    color: gold;
    /* Change to the color you prefer */
}


/* ------------------BANNER------------------ */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 20px;
}

#banner h3 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 {
    color: #fff;
    font-size: 50px;
}

#banner h2 span {
    color: orangered;
}

/* ------------------NEWSLETTER------------------ */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-color: #2e8b57;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}

#newsletter h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span {
    color: orangered;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin: 0 10px;
}

#newsletter button {
    white-space: nowrap;
}

.popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup.show {
    display: block;
    /* Show popup when .show class is added */
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    min-width: 400px;
    max-width: 500px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}


#popupMessage {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup-content button {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #618264;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


/* ------------------FOOTER------------------ */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 18px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    transition: 0.2s ease;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

footer .follow i:hover,
footer a:hover {
    color: #2e8b57;
}

footer .install .row img {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .install .row img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* ------------------SHOP PAGE------------------ */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    color: #fff;
    background-color: #618264;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* ------------------SINGLE PRODUCT PAGE ------------------ */
#prodetails {
    margin-top: 20px;
}

.prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#prodetails .pro-img {
    width: 100%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.small-img-group {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    margin-top: 10px;
}

.small-img-col {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.small-img-col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#prodetails .pro-details {
    width: 100%;
    max-width: 45%;
    padding-top: 30px;
}

#prodetails .pro-details button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#prodetails .pro-details h4 {
    font-size: 30px;
    padding: 40px 0 20px 0;
}

#prodetails .pro-details h2 {
    padding-bottom: 20px;
    font-size: 26px;
}

#prodetails .pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .pro-details input:focus {
    outline: none;
}

#prodetails .pro-details button {
    color: #fff;
    border: 1px solid #777;
    width: auto;
    padding: 10px 20px;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
}

#prodetails .pro-details button.clicked {
    color: #618264;
    transform: scale(1.05);
    animation: cart-bounce 0.3s ease;
}

@keyframes cart-bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.05);
    }
}



#prodetails .pro-details span {
    line-height: 25px;
    font-size: 16px;
}

#priceContainer {
    display: flex;
    align-items: center;
}

#discountPrice {
    font-size: 26px;
    color: #000;
}

#regularPrice {
    font-size: 20px;
    color: red;
    text-decoration: line-through;
    margin-right: 20px;
}

#product1 .pro-container-related {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

#product1 .pro-container-related .pro {
    max-width: 250px;
    min-width: 250px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    transition: 0.2s ease;
}

#product1 .pro-container-related .pro img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#product1 .pro-container-related .pro h5 {
    font-size: 16px;
    margin: 10px 0;
}

#product1 .pro-container-related .pro h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#product1 .pro-container-related .pro a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.2s ease;
}

#product1 .pro-container-related .pro a:hover {
    background-color: #444;
}



/* ------------------DEALS------------------ */
#prod-deals {
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: top 25% right 0;
    background-size: cover;
}

#prod-deals .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#prod-deals h2 {
    color: #777;
    font-size: 40px;
    font-variant: small-caps;
}

#prod-deals h2 span {
    color: orangered;
    font-weight: 800;
}

#prod-deals .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #e8e8e8;
    border: 2px solid #b0b0b0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 30px 30px;
    transition: 0.2s ease;
    position: relative;
    height: 350px;
}

#prod-deals .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#prod-deals .pro img {
    width: 100%;
    border-radius: 20px;
    width: 90%;
    max-height: 200px;
    height: 70%;
    object-fit: cover;
}

#prod-deals .pro .description {
    text-align: start;
    padding: 10px 0;
}

#prod-deals .pro .description h3 {
    padding-top: 7px;
    color: black;
    font-size: 20px;
}

#prod-deals .pro .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#prod-deals .pro .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#prod-deals .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #b0b0b0;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: 0.2s ease;
}

#prod-deals .pro .cart:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#prod-deals .pro .cart.clicked i {
    animation: cart-bounce 0.5s ease;
}

#prod-deals .pro .description h4 s {
    color: red;
}

/* Deals Single Page */
.pro-details s {
    color: red;
}

/* ------------------ABOUT------------------ */
#banner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner1.jpg);
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
}

#banner1 h3 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about img {
    max-width: 40%;
    padding-left: 50px;
    padding-right: 50px;
}

.about-text h2 {
    color: #777;
    font-size: 40px;
    padding-bottom: 20px;
}

.about-text p {
    font-size: 20px;
    padding-bottom: 20px;
}

/* ------------------CONTACT US------------------ */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-form {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}

#contact-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    margin: auto;
}

#contact-form span {
    font-size: 20px;
}

#contact-form form input,
#contact-form form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    font-size: 18px;
}

#contact-details .details h2,
#contact-form form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 18px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 18px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* ------------------CART PAGE------------------ */
.cart-container {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-container th,
.cart-container td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.cart-container th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.prod-head {
    padding-left: 60px;

}

.cart-container td {
    border-bottom: 1px solid #ddd;
}

.product-img {
    width: 10vw;
    /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.remove-btn {
    font-size: 0.8vw;
    padding: 2% 3%;

}

.original-price {
    color: red;
    text-decoration: line-through;
}

tfoot {
    font-weight: bold;
    background-color: #f4f4f4;
}

.cart-container tfoot .total-label {
    text-align: right;
    padding-right: 10px;
}

.cart-container tfoot .total-amount {
    text-align: left;
    padding-right: 10px;
}

.checkout {
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;
}

/* Styles for larger screens */
@media (max-width: 768px) {

    /* NAVBAR ---> */
    #navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #618264;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #navbar li {
        display: block;
        margin: 0;
    }

    #navbar.show {
        display: flex;
    }

    #close {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #navbar li {
        margin: 10px 0;
        text-align: center;
    }

    #cart-mobile {
        display: none;
    }

    /* <--- NAVBAR */

    .home-txt h1 {
        font-size: 28px;
    }

    .home-txt p {
        font-size: 16px;
    }

    .home-txt a {
        font-size: 18px;
    }

    .swiper {
        height: 40vh;
    }

    .product {
        width: 100%;
    }

    .section-p1 {
        padding: 10px;
    }

    /* .cart-container table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    .cart-container th,
    .cart-container td {
        display: block;
        width: 100%;
    }

    .cart-container th {
        display: none;
    }

    .cart-container td {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    } */

    .cart-summary {
        font-size: 16px;
    }

    #banner {
        height: 30vh;
        padding: 0 10px;
    }

    #banner h4 {
        font-size: 18px;
    }

    #banner h3 {
        font-size: 24px;
    }

    #banner h2 {
        font-size: 30px;
    }

    #newsletter {
        padding: 0 10px;
        background-position: bottom;
    }

    .newstext {
        padding-top: 20px;

    }

    #newsletter h4 {
        font-size: 1.4em;
    }

    #newsletter p {
        font-size: 1em;
        font-weight: 500;
    }

    #newsletter .form {
        width: 80%;
        padding: 20px 0;
    }

    .footer {
        padding: 10px;
    }

    footer .col {
        margin: 20px 0;
    }

    .pro {
        margin: 5px;
        padding: 10px;
    }

    .pro img {
        max-width: 150px;
    }

    .pro .description h3 {
        font-size: 1.2em;
        font-weight: 400;
    }

    #product1 .pro .description h4,
    #product1 .pro .description h4 .disc_price {
        font-size: 1em !important;
        font-weight: 400 !important;
    }

    .pro .cart {
        font-size: 1em;
    }

    /* .cart-container {
        width: 100%;
        padding: 10px;
    }

    .cart-container table {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .cart-container td {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    } 

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: flex;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    } */

    .product-img {
        width: 50px;
        margin-right: 5px;
    }


}

/* Styles for mobile devices */
@media (max-width: 480px) {

    #product1 h2 {
        font-size: 24px;
    }

    header {
        padding: 0;
    }

    .header {
        padding: 10px;
    }

    /* Style the logo */
    .logo {
        width: 6vw;
        margin-right: 0;
    }

    .header a {
        margin-right: 0;
    }

    .header h1 {
        flex-grow: 1;
        text-align: center;
        margin: 0;
        font-size: 1.3em;
        white-space: nowrap;
        overflow: hidden;
    }

    /* NAVBAR ---> */
    #mobile #cart,
    #bar {
        color: #D0E7D2;
        padding: 10px;
    }

    #cart-count {
        background-color: red;
        color: white;
        padding: 2px 6px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
    }

    #bar {
        cursor: pointer;
        font-size: 1.5em;
    }

    #close {
        display: none;
    }

    #navbar {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #navbar li {
        margin: 0;
    }

    #navbar a {
        text-decoration: none;
        color: #D0E7D2;
        padding: 10px;
    }

    #navbar {
        display: none;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #navbar.show {
        display: flex;
    }

    #navbar.show~#close {
        display: block;
    }

    #cart-desktop {
        display: none;
    }

    #cart-mobile {
        display: flex;
        align-items: center;
        color: #D0E7D2;
        font-size: 1.5em;
        margin-right: 10px;
    }

    /* <--- NAVBAR */

    /* HOMEPAGE STYLING */
    .home-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-txt {
        order: 1;
        text-align: center;
        margin: 20px;
        width: 100%;
        padding: 20px;
    }

    .home-img {
        order: 2;
        margin: 20px;
        width: 100%;
        padding: 20px;
    }

    .swiper {
        height: 40vh;
    }

    .swiper-txt h4 {
        font-size: 24px;
    }

    .swiper-txt p {
        font-size: 18px;
    }

    /* Product Displays */

    #product1 .pro-container {
        display: block;
        /* Stack products vertically */
        padding: 0;
        /* Remove padding from the container */
        margin: 0;
        /* Remove margins if any */
    }

    #product1 .pro {
        display: flex;
        flex-direction: row;
        /* Arrange image and description side by side */
        align-items: center;
        /* Center items vertically */
        max-width: 100vw;
        /* Full width minus padding */
        margin: 10px;
        /* Add margin to create space between edges */
        padding: 10px;
        box-sizing: border-box;
        /* Include padding in the width calculation */
        height: auto;
        /* Allow height to adjust based on content */
    }

    #product1 .pro img {
        max-width: 100px;
        /* Set a fixed width for the image */
        margin-right: 15px;
        /* Space between the image and the description */
    }

    #product1 .description {
        flex-grow: 1;
        /* Allow the description to take up remaining space */
        text-align: left;
        /* Align text to the left */
    }

    #product1 .description h3,
    #product1 .description h4 {
        margin: 5px 0;
        /* Add some margin for spacing */
    }

    #product1 .cart {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    /* ABOUT PAGE */
    .section-m1 {
        margin: 0;
    }

    .about {
        flex-direction: column;
        margin: 10px 20px;
    }

    .about img {
        max-width: 60vw;
        padding-bottom: 20px;

    }

    .about-text h2 {
        font-size: 1.4em;
    }

    .about-text p {
        font-size: 1em;
    }

    /* CONTACT FORM */
    #contact-form form {
        width: 100vw;
    }

    #contact-details .details h2,
    #contact-form form h2 {
        font-size: 1.4em;
    }

    #contact-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        margin: 0 20px;
    }

    #contact-details .map {
        margin-top: 20px;
        width: 100%;
    }

    /* PRODUCT PAGES */
    .small-img-group {
        overflow-x: none;
    }

    .small-img-col {
        flex: auto;
    }

    #prodetails {
        flex-direction: column;
        justify-content: none;

    }

    #prodetails .pro-details,
    #prodetails .pro-img {
        max-width: 100%;
    }

    #prodetails .pro-details h4 {
        font-size: 1.8em;
    }

    #prodetails .pro-details h2 {
        font-size: 1.5em;
    }

}