* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

.section-m1 {
    margin: 40px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.normal {
    font-size: 16px;
    padding: 10px 10px;
    background-color: #618264;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.2s;
}

.normal:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* ------------------Header------------------ */
header {
    padding: 5px 50px;
    background: #618264;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

#navbar .active {
    font-weight: 700;
}

.logo {
    width: 60%;
}

header h1 {
    color: #D0E7D2;
    font-size: 40px;
    font-variant: small-caps;
}

/* Navbar buttons */
#navbar li a {
    color: #D0E7D2;
    font-weight: 500;
    text-decoration: none;
    display: block;
    transition: transform 0.5s, opacity 0.5s;
}

#navbar li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

#navbar li:hover a {
    transform: translateY(-0.25em);

}

.sign_in {
    font-size: 16px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* ------------------HOMEPAGE------------------ */

.home-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-txt {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.home-txt h1 {
    color: #000000;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

.home-txt p {
    font-size: 24px;
    padding-bottom: 30px;
}

.home-txt a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    margin: 20px auto;
    min-width: 150px;
    max-width: 200px;
    transition: transform 0.5s, opacity 0.5s;
}

.home-txt a:hover {
    transform: translateY(-0.25em);
}

/* Slideshow */
.home-img {
    background-image: url("images/background.jpg");
    background-size: cover;
    padding: 80px 100px;
    margin: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.img-opacity .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(208, 231, 210, 0.5);
    z-index: 1;
}

.swiper-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-txt h4 {
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.swiper-txt p {
    font-size: 20px;
    padding-bottom: 20px;
}

.swiper-txt,
.swiper-wrapper-container {
    position: relative;
    z-index: 2;
}

.swiper-wrapper-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 60vh;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #618264;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 20px;
}

.swiper .swiper-button-prev {
    left: 10px;
}

.swiper .swiper-button-next {
    right: 10px;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.swiper .swiper-pagination-bullet-active {
    background: #618264;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide p {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #777;
    font-weight: bold;
    font-size: 30px;
}

/* ------------------PRODUCT DISPLAYS------------------ */
#product1 {
    text-align: center;
    /*background-image: url(images/background2.jpg);
    background-position: top 25% right 0;
    background-size: cover;*/
    background-color: #ffffff;
}

#product1 .pro-container-home {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Customize the horizontal scrollbar */
#product1 .pro-container-home::-webkit-scrollbar {
    height: 8px;
    /* Height of the horizontal scrollbar */
}

#product1 .pro-container-home::-webkit-scrollbar-track {
    background: transparent;
    /* Transparent background for the track */
}

#product1 .pro-container-home::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    /* Thumb color with some transparency */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

#product1 .pro-container-home::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker thumb color on hover */
}

#product1 .pro-container {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#product1 h2 {
    color: #000000;
    font-size: 40px;
    font-variant: small-caps;
}

#product1 .pro {
    max-width: 250px;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5px 5px;
    transition: 0.2s ease;
    position: relative;
    height: 350px;
}

#product1 .pro:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#product1 .pro img {
    width: 100%;
    border-radius: 5px;
    width: 90%;
    max-height: 200px;
    height: 70%;
    object-fit: cover;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description .prod-name {
    padding-top: 7px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

#product1 .pro .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .description .prod-price {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
}

#product1 .pro .description .prod-price s {
    color: red;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: 0.2s ease;
}

#product1 .pro .cart:hover {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.star {
    display: flex;
}

.star i {
    color: gold;
    /* Change to the color you prefer */
}


/* ------------------BANNER------------------ */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 20px;
}

#banner h3 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 {
    color: #fff;
    font-size: 50px;
}

#banner h2 span {
    color: orangered;
}

/* ------------------NEWSLETTER------------------ */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-color: #2e8b57;
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}

#newsletter h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span {
    color: orangered;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin: 0 10px;
}

#newsletter button {
    white-space: nowrap;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup.show {
    display: block;
    /* Show popup when .show class is added */
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 40%;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}


#popupMessage {
    margin-bottom: 10px;
}

.popup-content button {
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #618264;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


/* ------------------FOOTER------------------ */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 18px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    transition: 0.2s ease;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    text-decoration: none;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

footer .follow i:hover,
footer a:hover {
    color: #2e8b57;
}

footer .install .row img {
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .install .row img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* ------------------SHOP PAGE------------------ */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    color: #fff;
    background-color: #618264;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* ------------------SINGLE PRODUCT PAGE ------------------ */
#prodetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#prodetails .pro-img {
    width: 100%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #79AC78;
}

.small-img-group {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    margin-top: 10px;
}

.small-img-col {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.small-img-col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #79AC78;
}

#prodetails .pro-details {
    width: 100%;
    max-width: 45%;
    padding-top: 30px;
}

#prodetails .pro-details button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#prodetails .pro-details h4 {
    font-size: 30px;
    padding: 40px 0 20px 0;
}

#prodetails .pro-details h2 {
    padding-bottom: 20px;
    font-size: 26px;
}

#prodetails .pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .pro-details input:focus {
    outline: none;
}

#prodetails .pro-details button {
    color: #fff;
    border: 1px solid #777;
    width: auto;
    padding: 10px 20px;
    display: inline-block;
}

#prodetails .pro-details span {
    line-height: 25px;
    font-size: 16px;
}

#priceContainer {
    display: flex;
    align-items: center;
}

#discountPrice {
    font-size: 26px;
    color: #000;
}

#regularPrice {
    font-size: 20px;
    color: red;
    text-decoration: line-through;
    margin-right: 20px;
}



/* ------------------DEALS------------------ */
#prod-deals {
    text-align: center;
    background-image: url(images/background.jpg);
    background-position: top 25% right 0;
    background-size: cover;
}

#prod-deals .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}

#prod-deals h2 {
    color: #777;
    font-size: 40px;
    font-variant: small-caps;
}

#prod-deals h2 span {
    color: orangered;
    font-weight: 800;
}

#prod-deals .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #e8e8e8;
    border: 2px solid #b0b0b0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 30px 30px;
    transition: 0.2s ease;
    position: relative;
    height: 350px;
}

#prod-deals .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#prod-deals .pro img {
    width: 100%;
    border-radius: 20px;
    width: 90%;
    max-height: 200px;
    height: 70%;
    object-fit: cover;
}

#prod-deals .pro .description {
    text-align: start;
    padding: 10px 0;
}

#prod-deals .pro .description h3 {
    padding-top: 7px;
    color: black;
    font-size: 20px;
}

#prod-deals .pro .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#prod-deals .pro .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#prod-deals .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #b0b0b0;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: 0.2s ease;
}

#prod-deals .pro .cart:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#prod-deals .pro .description h4 s {
    color: red;
}

/* Deals Single Page */
.pro-details s {
    color: red;
}

/* ------------------ABOUT------------------ */
#banner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner1.jpg);
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
}

#banner1 h3 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about img {
    max-width: 40%;
    padding-left: 50px;
    padding-right: 50px;
}

.about-text h2 {
    color: #777;
    font-size: 40px;
    padding-bottom: 20px;
}

.about-text p {
    font-size: 20px;
    padding-bottom: 20px;
}

/* ------------------CONTACT US------------------ */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-form {
    display: flex;
    align-items: center;
    margin: 30px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    background-color: #B0D9B1;
}

#contact-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    margin: auto;
}

#contact-form span {
    font-size: 20px;
}

#contact-form form input,
#contact-form form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    font-size: 18px;
}

#contact-details .details h2,
#contact-form form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 18px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 18px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* ------------------CART PAGE------------------ */
.cart-container {
    margin: 60px auto;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 80%;
    text-align: left;
    padding: 10px;
    color: #777;
    background: #d0f0c0;
    font-weight: 600;
}

#cart-body td {
    padding: 10px 5px;
}

#cart {
    font-size: 20px;
}

#cart-body input {
    width: 40px;
    height: 30px;
    padding: 5px;
    outline: none;
    font-size: 16px;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info a {
    color: #d0f0c0;
    font-size: 18px;
}

#cart-name a {
    text-decoration: none;
}

.cart-info img {
    width: 15%;
    height: 15%;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #d0f0c0;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* ------------------RESPONSIVE DESIGN TABLETS------------------ */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #d0f0c0;
        box-sizing: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #header h1 {
        font-size: 40px;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #777;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #777;
        font-size: 24px;
    }

    #home {
        position: relative;
    }

    #home .home {
        display: flex;
        flex-direction: column;
    }

    .homeText {
        width: 100%;
        height: 40%;
        margin-top: 10%;
    }

    .homeText h2 {
        font-size: 50px;
    }

    .homeText a {
        margin: 10% 0;
        color: white;
        font-size: 20px;
    }

    .button-88 {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        padding: 0.7em 1.4em 0.7em 1.1em;
        color: white;
        background: #ad5389;
        background: linear-gradient(0deg, rgb(6, 109, 35) 0%, rgb(59, 204, 71) 100%);
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
        letter-spacing: 0.05em;
        border-radius: 20em;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .swiper-wrapper {
        width: 300px;
    }

    .swiper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-top: 0;
        position: absolute;
        top: 0;
    }

    .swiper-slide img {
        margin-top: 0;
        padding-top: 0;
    }

    /* Slideshow text */
    .swiper-slide p {
        position: absolute;
        top: 0;
        left: 10;
        margin-top: 5%;
        font-size: 30px;
    }

    .swiper .swiper-button-prev {
        display: none;
    }

    .swiper .swiper-button-next {
        display: none;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #banner {
        height: 20vh;
    }

    #newsletter .form {
        padding-top: 10px;
        width: 70%;
    }
}

/* ------------------RESPONSIVE DESIGN PHONE------------------ */
@media (max-width: 477px) {
    #header {
        padding: 10px 20px;
        display: flex;
    }

    #header h1 {
        text-align: center;
        font-size: 20px;
    }

    .logo {
        width: 50%;
    }

    #mobile i {
        font-size: 18px;
        margin: auto;
    }

    #navbar .active {
        font-style: italic;
        font-weight: 700;
    }

    #home .home {
        padding: 0 20px;
        background-position: 55%;
    }

    .homeText {
        height: 40%;
        margin: 5% 10%;
    }

    .homeText h2 {
        font-size: 36px;
    }

    .homeText a {
        margin: 5% 0;
        font-size: 16px;
        padding: 10px 10px;
        color: white;
    }

    .swiper {
        margin-top: 0;
        height: 40%;
    }

    .swiper-slide a {
        color: black;
        padding: 10px 15px;
        font-size: 14px;
    }

    .swiper-slide img {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #banner h2 {
        font-size: 30px;
    }

    #banner h3 {
        font-size: 20px;
    }

    #banner h4 {
        font-size: 16px;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter h4 {
        font-size: 30px;
    }

    #newsletter p {
        font-size: 16px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* SINGLE PRODUCT PAGE */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .pro-details {
        width: 100%;
    }

    /* ABOUT PAGE */
    .about {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about img {
        max-width: 100%;
        padding-bottom: 20px;
    }

    .about-text h2 {
        text-align: center;
    }

    /* Contact Page */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    /* Cart Page */
    .cart-info img {
        width: 30%;
        height: 40%;
    }

    .cart-container {
        margin: 40px auto;
    }
}